$color-primary: #901c1c;
$color-secondary: #D3573C;

*{
    margin:0 ;
    padding:0;
    box-sizing: content-box;
}
body {
    width:90%;
    font-family: "DM Sans", Verdana, sans-serif;
    min-width:385px;
    max-width: 1440px;
    margin:0 auto; 
    
}
li {
    list-style: none;
}
button, .button {
    width:170px;
    height:70px;
    background-color: $color-primary;
    color:white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border:none;
    cursor: pointer;
    @media screen and (max-width:425px){
        height:35px;

    }
}
a {
    text-decoration: none;
    cursor: pointer;
}
.header {
    &__index {
   position:relative;
   width:100%;
    z-index:0;
    height:200px;
    display:flex;
    flex-wrap: wrap;
    padding-top:10px;
        @media screen and (max-width:1405px) 
        {
            flex-direction: column; 
            
        }
    }
    &__logo {
       @extend .logo
    }
    &__navbar {
        width:60%;
        @media screen and (max-width:1405px) {
          
        width:100%;
        }
        &__liste {
            margin:auto;
            display:flex;
            height:50px;
            align-items:center;
            flex-wrap: wrap;
            justify-content: center;
            &__tags {
                @extend .tags
            }
        }
    }
}
.main { 
    &__index {
    position:relative;
    z-index:2;
    top:-200px;}
    &__titre {
        text-align:right;
        font-size:30px;
        line-height: 50px;
        margin-left:auto;
        margin-right:5px;
        color:$color-primary;
       white-space: nowrap;
       @media screen and (max-width:768px) 
       {font-size:16px;
        line-height: 25px;
       }
    }
    &__grid {
        margin-top:225px;
        display:flex;
        flex-wrap:wrap;
        column-gap:10%;
        row-gap:75px;
        justify-content: space-around;
       
        &__photographe {
           @extend .container_photo;
           margin-bottom:75px;
            &__container {
                &__photo {
                   @extend .photo;
                   
                } 
            }
            &__nom {
                @extend .name;
               
            } 
            &__localisation {
                @extend .location
            } 
            &__description {
                @extend  .description;
            } 
            &__prix {
                @extend .description
            }
            &__tags {
                @extend .tags
        }
        }
    }   
}
.name {
    text-align: center;
    color: $color-secondary;
    font-size:36px;
    line-height: 47px;
}
.location  {
    text-align: center;
    font-size:13px;
}
.description {
    text-align: center;
    font-size: 10px;

}
.price {
    text-align: center;
                font-size:9px;
                color:#757575
}
.tags {
    border: 0.5px solid #C4C4C4;
    border-radius: 11px;
    color:$color-primary;
    font-weight: 500;
    height:25px;
    line-height: 25px;
    margin-right:0.5rem;
    padding: 0 0.5rem;
    width:min-content;
}
.photo {
    
    width:165px;
    height:165px;
    border-radius: 165px;
    margin:0 auto; 
    display:block;

}
.container_photo {
    width:265px;
    height:185px;
}
.logo {
    margin-bottom:70px;
    width:200px;
    height:50px;
    margin-left:5px;
    
    @media screen and (max-width:768px) 
     {width:150px;
         height:37.5px;
         margin-bottom:10px;
     }
}
.arrow{
   margin-left:20px;
   
   transition:all 300ms;
}
.header {
    margin-top:40px;
}
.main {
    width:100%;
    &__presentation {
        margin-bottom:10px;
        background-color: #FAFAFA;
        display:flex;
        justify-content: space-between;
        height:315px;
        align-items: center;
        padding: 0 5%;
        position: relative;
        @media screen and (max-width:768px) {
            background-color: white;
            height:auto;
            padding:0;
           
        }
    
        &__photograph {
            
            display:flex;
            flex-direction: column;
            align-items:flex-start;
            row-gap: 15px;
            &__button {
                margin-left:100px;
                vertical-align:top;
                @media screen and (max-width:1024px) {
                    margin-left:30px;
                    height:35px;
                    position:absolute;
                    bottom:10px;
                    z-index:99;
                    right:90px;

                    
                }

                @media screen and (max-width:768px) {
                   position:fixed;
                    bottom:30px;
                    z-index:99;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    
                }
            }
            &__name {
                @extend .name;
                font-size:64px;
                line-height: 70px;
                @media screen and (max-width:768px) {
                    font-size:36px;
                }
            }
            &__localisation {
                @extend .location;
                font-size:24px;
                @media screen and (max-width:768px) {
                    font-size:17px;
                }
            }
            &__description {
                @extend .description;
                font-size:18px;
                @media screen and (max-width:768px) {
                    font-size:13px;
                    white-space: nowrap;
                }
            }
            &__tags {
                @extend .tags
            }

        }
        &__picture {
            @extend .container_photo;
            &__img {
                @extend .photo;
                @media screen and (max-width:768px) {
                    width:100px;
                    height:100px;
                }
            }

        }
    }

    &__photos { 

        &__sort {
            font-size:18px;
            font-weight:700;
            line-height: 70px;
            margin-right:30px;

        }
        &__allbutton {
            
            position:relative;
            font-size: 18px;
            font-weight: bold;
            padding:0 10px;
            width:170px;
            border-radius:0 0 5px 5px;
            &:hover .main__photos__allbutton__button__date{
                animation: submenu 200ms;
                animation-fill-mode: forwards;
          
               
            }
            &:hover .main__photos__allbutton__button__title{
                animation: submenu 200ms;
                animation-fill-mode: forwards;
                animation-delay:200ms;
               
            }
            &:hover .arrow{
                transform:rotate(-180deg)
            }
        
            &__button {
                margin-left:25px;
                padding:0 10px;
                &__popular {
                    box-sizing: border-box;
                    position:absolute;
                }
                &__date {
                    position:absolute;
                    top:45px;
                    z-index:90;
                    height:70;
                    box-sizing: border-box;
                    border-radius:0;
                    border-top:1px solid white;
                    border-bottom:1px solid white;
                    padding-left:25px;
                    text-align:left;
                    transform-origin: 50% 0%;
                    transform:scaleY(0)
                  
                }
                &__title {
                    position:absolute;
                    top:115px;
                    z-index:90;
                    box-sizing: border-box;
                    height:70px;
                    text-align:left;
                    padding-left:25px;
                    transform-origin: 50% 0%;
                    transform:scaleY(0)
                
                }
            }
        }
        @keyframes submenu {
            0% {transform:scaleY(0)}
            100%{transform:scaleY(1)}
            
        }
        &__article {
           position:relative;
           z-index:1;
            margin-top:50px;
            width:100%;
            display:flex;
            flex-wrap: wrap;
            column-gap: 5%;
            row-gap:30px;
            justify-content: space-around;
            &__container {
    
                &__img {
                    //background:url("/images/Sample Photos/Mimi/Animals_Rainbow.jpg");
                    width:350px;
                    height:300px;
                    border-radius: 5px;
                    background-size:cover;
                }
                &__description {
                    display:flex;
                    justify-content: space-between;
                    &__name {
                        font-size: 24px;
                        font-weight: 400;
                    }
                    &__like {
                        font-weight:500;
                        font-size:24px;
                       
                    }

                }
            }
        }
    }
    &__like-price-button {
        width:375px;
        height:50px;
        background-color: #DB8876;
        padding:0 15px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        position: fixed; 
        z-index:200;
        bottom: 0;
        right:5%;
        &__number {
            &__heart {
                margin-left:3px;
            }
        }
        @media screen and (max-width:768px) {
           display:none;
         }

    }
}

.contact {
    display:none;
    &__form {
        background-color: #DB8876;
        width:45%;
        min-width: 375px;
        height:auto;
        border-radius:5px;
        position:absolute;
        z-index:9999;
        top:10%;
        margin:0 auto;
        left:0;
        right:0;
        padding:20px 30px 30px 30px;
        box-sizing: border-box;
        &__title {
            font-weight: normal;
            font-size: 64px;
            line-height: 83px;
            @media screen and (max-width:768px) {
                font-size: 36px;
                line-height: 47px;
            }
        }
        &__input {
            border-radius: 5px;
            width:100%;
            height:70px;  
        }
        &__label {
            font-family: DM Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 47px;
            color:#312E2E;
            @media screen and (max-width:768px) {
                font-size: 24px;
                line-height: 31px; 
            }
        }
        &__cross{
            width: 30px;
            height: 30px;
            cursor: pointer;
            transform: scale(0.7);
            float:right;
            margin-left:10%;
            margin-bottom:30px;  
                
            &:before,
            &:after {
              position: absolute;
              content: " ";
              height: 80px;
              width: 5px;
              top:15px;
              right:35px;
              background-color: #fff;
              @media screen and (max-width:768px) {
                height:40px;
            } 
            }
            &:before {
              transform: rotate(45deg);
            }
            &:after {
              transform: rotate(-45deg);
            }
        }
        
    }
}
#message {
    height:170px;
    margin-bottom:30px;
}