*{
    margin:0 ;
    padding:0;
    box-sizing: content-box;
}
body {
    width:90%;
    font-family: "DM Sans", Verdana, sans-serif;
    min-width:385px;
    max-width: 1440px;
    margin:0 auto; 
    font-weight: 400;
    
}
li {
    list-style: none;
}
h1,h2,h3,h4{
   
    font-weight: 400;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;

}
// button:focus {
//     border:2px solid $color-secondary}
.button {
    width:170px;
    height:70px;
    background-color: $color-primary;
    color:white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border:none;
    cursor: pointer;
    @media screen and (max-width:425px){
        height:35px;

    }
}
a, a:hover, a:active, a:visited, a:link{
    text-decoration: none;
    cursor: pointer;
    color:black;

}