.main {
    width:100%;
    &__presentation {
        margin-bottom:10px;
        background-color: #FAFAFA;
        display:flex;
        justify-content: space-between;
        height:315px;
        align-items: center;
        padding: 0 5%;
        position: relative;
        
        @media screen and (max-width:768px) {
            background-color: white;
            height:auto;  
        }
        &__photograph {
            
            display:flex;
            flex-direction: column;
            align-items:flex-start;
            row-gap: 15px;
            
            &__button {
                margin-left:100px;
                vertical-align:top;
                @media screen and (max-width:1337px) {
                    margin-left:0px;
                    height:35px;
                    position:absolute;
                    bottom:10px;
                    z-index:99;
                    right:5%;

                    
                }

                @media screen and (max-width:768px) {
                   position:fixed;
                    bottom:30px;
                    z-index:99;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    
                }
            }
            &__name {
                
                text-align: left;
                @extend .name;
                font-size:64px;
                line-height: 70px;
                
                @media screen and (max-width:1025px) {
                    font-size:36px;
                    line-height:40px;
                }
            }
            &__localisation {
                @extend .location;
                font-size:24px;
               
                @media screen and (max-width:768px) {
                    font-size:17px;
                }
            }
            &__description {
                @extend .description;
                font-size:18px;
                @media screen and (max-width:768px) {
                    font-size:13px;
                    white-space: nowrap;
                }
            }
            &__tagsContainer {
                @extend .tagsContainer;
                margin-left:0 ;
            }
            &__tags {
                @extend .tags;
                cursor: pointer;
                
            }

        }
        &__picture {
            @extend .container_photo;
            @media screen and (max-width:768px) {
                width:165px;
                min-width: 0px;
            }

            @media screen and (max-width:575px) {
                width:100px;
               
            }
            &__img {
                @extend .photo;
                @media screen and (max-width:575px) {
                    width:100px;
                    height:100px;
                   
                }
            }

        }
    }



    &__photos { 

        &__sort {
            font-size:18px;
            font-weight:700;
            line-height: 70px;
            margin-right:30px;
            @media screen and (max-width:568px) {
                display:none;
            }

        }
        &__allbutton {
            @media screen and (max-width:568px) {
                display:none;
            }
            position:relative;
            font-size: 18px;
            font-weight: bold;
            padding:0 10px;
            width:170px;
            border-radius:0 0 5px 5px;
            &:hover .main__photos__allbutton__button__date{
                animation: submenu 200ms;
                animation-fill-mode: forwards;
          
               
            }
            &:hover .main__photos__allbutton__button__title{
                animation: submenu 200ms;
                animation-fill-mode: forwards;
                animation-delay:200ms;
               
            }
            &:hover .arrow{
                transform:rotate(-180deg)
            }
        
            &__button {
                margin-left:25px;
                padding:0 10px;
                &__popular {
                    box-sizing: border-box;
                    position:absolute;
                }
                &__date {
                    position:absolute;
                    top:45px;
                    z-index:90;
                    height:70;
                    box-sizing: border-box;
                    border-radius:0;
                    border-top:1px solid white;
                    border-bottom:1px solid white;
                    padding-left:25px;
                    text-align:left;
                    transform-origin: 50% 0%;
                    transform:scaleY(0)
                  
                }
                &__title {
                    position:absolute;
                    top:115px;
                    z-index:90;
                    box-sizing: border-box;
                    height:70px;
                    text-align:left;
                    padding-left:25px;
                    transform-origin: 50% 0%;
                    transform:scaleY(0)
                
                }
            }
        }
        @keyframes submenu {
            0% {transform:scaleY(0)}
            100%{transform:scaleY(1)}
            
        }
        &__article {
           position:relative;
           z-index:1;
            margin-top:50px;
            width:100%;
            display:flex;
            flex-wrap: wrap;
            column-gap: 5%;
            row-gap:30px;
            justify-content: flex-start;
            margin-bottom:100px;
            &__container {
                width:350px;
                &__img {
                    
                    width:350px;
                    height:300px;
                    border-radius: 5px;
                    background-size:cover;
                }

                &__description {
                    display:flex;
                    justify-content: space-between;
                    position:relative;
                    text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    
                    &__name {
                        font-size: 24px;
                        font-weight: 400;
                        color:$color-primary;
                        width:80%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    
                    }
                    &__like {
                        font-weight:500;
                        font-size:24px;
                       
                    }
                    &__heart {
                        color:$color-primary;
                       
                       
                    }

                }
            }
        }
    }
    &__like-price-button {
        width:375px;
        height:50px;
        background-color: #DB8876;
        padding:0 15px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        position: fixed; 
        z-index:200;
        bottom: 0;
        right:5%;
        &__number {
            &__heart {
                margin-left:3px;
            }
        }
        @media screen and (max-width:768px) {
           display:none;
         }

    }
}

