
.big-picture{
    display:none;
    width:100%;
    max-width: 1440px;
    height:100vh;
    position:fixed;
    //background-color: white;
    z-index: 99;
    top:0;
    right:0%;
    left:0%;
    margin:0 auto;
    //display:flex;
    align-items: center;
    justify-content: center;

    &__container {
       width:50%; 
        
        
        
        margin:0 auto;
        position:relative;
        
        
        &__img {
            display:block;
            margin:0 auto;
            width:100%;
            max-height: 80vh;
            
        }
        &__title {
            font-size: 24px;
            font-weight: 400;
            color:$color-primary;
        }
        &__cross {
            @extend .crossX;
            position:absolute;
            top:0;
            right:-50px;
           
            &:before, &:after {
                background-color:$color-primary;
                top:0;
            right:15px;
               
            }
        }
        &__left-arrow {
            position:absolute;
            top:50%;
            bottom:50%;
            left:-50px;
        }
        
        &__right-arrow {
            transform:rotate(180deg);
            position:absolute;
            top:50%;
            bottom:50%;
            right:-50px;

        }
    }
}
#videoCarroussel{
    display:none;
}